@font-face {
  font-family: "element-icons";
  src: url("./demo-element-icons.woff") format("woff"),
       url("./demo-element-icons.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
